/obj
/bin
/.vscode
Properties/
appsettings.Development.json
appsettings.json
Routers/ForTestingRouters
.env
/default-assets
/storage
/Migrations
chat_postgres_db.session.sql
INSERT INTO Messages (.sql



